.header {
    text-align: center;
}
.container {
    display: flex;
    margin: auto;
    width:700px;
    height: 700px;
}

.box {
    border: 1px solid black;
    width: auto;
    height: 25%;
}

.row {
    flex: 1;
}